<h1>Lista de tareas</h1>
<button (click)="visibilidadTareas()">{{BotonVisibilidadTareas}}</button>
<p *ngIf="elementosLista.length < 1">
  No hay ninguna tarea pendiente.
</p>
<ul [hidden]="testigoVisibilidadTareas">
  <li *ngFor="let item of elementosLista; let i = index"> 
    <span (click)="cambiarEstadoItem(item)" [class]="item.estadoItem">{{item.tarea}}</span>&nbsp;
    <button (click)="borrarElementoLista(i)">Borrar</button>
  </li>
</ul>
<p>
  <input placeholder="Campo" [(ngModel)]="newElement" (keyup.enter)="add()" selected>&nbsp;
  <button (click)="add()">Añadir</button>
</p>
<p>
  <button (click)="vaciarElementosLista()">Eliminar todas las tareas</button>&nbsp;
  <button (click)="cambiarEstadoItems()">Completar todas las tareas</button>
</p>